{% extends 'base.html' %}

{% block loginactive %}active{% endblock loginactive %}
{% block css %}
    <style>
        .container{
            min-height: 90vh;
        }
    </style>
{% endblock css %}
<title>{% block title %}Login{% endblock title %}</title>

{% block body %}
<div class="container">
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
    <form class="p-4 w-50" action="login" method="POST">
        {% csrf_token%}

        <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="col-form-label">Password</label>

            <input type="password" class="form-control" id="inputPassword" name="password">

        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body %}